<div class="text-center">
  <h1><%= @user.name %>さんのクローゼット</h1>
  <%= link_to "新規アイテムの登録はこちら", new_step1_closets_path, class: 'btn btn-primary btn-lg' %>
</div></br>
<div class="container">
  <div id="closets" class="row">
    <% @closets.each do |closet| %>
      <%= render closet %>
    <% end %>
  </div>
</div>
