<h1>New item</h1>
<%= puts @categories.inspect %>
<%= render "form", closet: @closet %>
<%= javascript_include_tag 'closet_form' %>

<br>

<div>
  <%= link_to t('closets.back_link'), closets_path %>
</div>
