<footer id="footer" class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="brand-name">Today_Fashion</p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="/public/contacts/new">お問い合わせ</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.kiyac.app/privacypolicy/SMicIccjd1pziE9F1Y3U">プライバシーポリシー</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.kiyac.app/termsOfService/XTOStNuDNwqpQsbgxEEZ">サイト利用規約</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
