<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Today_Fashion (Tofa)</p>
        </div>
      </div>
    </div>
  </div>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
  <ul class='navbar-nav ml-auto main-nav align-items-center'>
    <li class='nav-item dropdown dropdown-slide'>
        <%= link_to 'お問い合わせ', '#', class: 'dropdown-item' %>
        <%= link_to 'プライバシーポリシー', '#', class: 'dropdown-item' %>
        <%= link_to 'サイト利用規約', '#', class: 'dropdown-item' %>
    </li>
  </ul>
</div>
</footer>