<footer id="footer" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-md-6">
        <div class="navbar-brand ml-3">
          <p>Today_Fashion</p>
        </div>
      </div>
      <div class="col-md-6 navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'お問い合わせ', new_public_contact_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('footer.privacy_policy'), 'https://www.kiyac.app/privacypolicy/SMicIccjd1pziE9F1Y3U', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('footer.terms_of_service'), 'https://www.kiyac.app/termsOfService/XTOStNuDNwqpQsbgxEEZ', class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
