<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'title.png', size: '200x40' %>
    <% end %>
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide'>
            <%= link_to '会員登録', '#', class: 'dropdown-item' %>
            <%= link_to 'ログイン', '#', class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
