<% if @weather_data.present? %>
  <div class="container">
    <%= render partial: 'weather_card', locals: { weather_data: @weather_data } %>
  </div>
<% else %>
  <p>天気情報がありません。</p>
<% end %>

<% if @second_weather_data.present? %>
  <div class="container mt-5">
    <%= render partial: 'weather_card', locals: { weather_data: @second_weather_data } %>
  </div>
<% else %>
  <p>天気情報がありません。</p>
<% end %>

<div class="container" style='display: flex; flex-wrap: wrap;'>
  <%= clothing_index(current_user.constitution_id).join(' ').html_safe %>
</div>
