<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Japan Map Example</title>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</head>
<body>

<p>今日の日付: <%= Time.zone.now.in_time_zone('Tokyo').strftime('%Y年%m月%d日') %></p>
<div id="map-container" data-show-weather-path="<%= show_weather_path %>"></div>
<p id="text" style="padding: 10px; width: 800px; color: rgb(255, 255, 255); text-align: center; background: rgb(82, 212, 156); display: none;"></p>


</body>
</html>