<div>
  <%= @weather_forecast[:prefecture_name] %>の天気予報
  <% if @weather_forecast[:list].present? %>
    <% @weather_forecast[:list].each do |weather| %>
      <%= render_partial_weather(weather) %>
    <% end %>
  <% else %>
    <p>天気情報がありません。</p>
  <% end %>
</div>