html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  padding-bottom: 60px;
  box-sizing: border-box;
}

#footer {
  width: 100%;
  background-color: #f8f9fa; // 任意の背景色
  padding: 20px 0; // 任意のパディング
  position: static; // フッターを固定しない
  bottom: auto; // フッターの位置を自動調整
}
