#map-container {
  width: 200%;
  height: 600px; /* 適切な高さを指定 */
}

#text {
  padding: 10px;
  width: 800px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: none;
}

.img-small {
  width: 650px; /* 必要なサイズを指定 */
  height: auto;
}

.left-column {
  width: 50%;
  float: left;
  padding: 10px;
}

.right-column {
  width: 50%;
  float: left;
  padding: 10px;
}

.card-text {
  font-size: 0.8rem; /* テキストサイズを小さく設定 */
}

.weather-icon {
  width: 50px; /* 画像の幅を設定 */
  height: 50px; /* 画像の高さを設定 */
}