<p><%= @resource.email %>さん、こんにちは！</p>

<p>アカウントのパスワード変更リクエストを行いました。以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は、無視してください。</p>
<p>リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されませんのでご安心ください。</p>
